.verifier {
  display: inline-block;
  width: 10vw;
  height: 1vh;
  border-radius: 1vw;
  background-color: gray;
}

.met {
  background-color: lime;
}

button {
  cursor: pointer;
}

#button-visibility {
  padding: 0;
}